.logo {
	width: 110px; height: 55px; float: left;
}

.corFundo {
	background-color: #E5F2F9;
}

.barra{
	background-color: #E5F2F9;
	text-align: left;
	width: 100%;
}

/* CARROSSEL ------------------------------------------- */

.carrosselTitulo {
	font-family: 'Poppins', sans-serif;
	color: #2D6067;
	font-weight: 900;
}

.carrosselSubtitulo {
	font-family: 'Poppins', sans-serif;
	color: #2D6067;
	font-weight: 600;
	font-size: 18px;
}

/* NAVBAR ---------------------------------------------- */

.bg-light {
	background-color: #448F9A !important;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xx {
	font-family: 'Poppins', sans-serif;
	font-weight: 100%;
	font-size: 100%;
	max-width: 100%;
}

.navbar-light .navbar-nav .nav-link {
	color: #F0E7B7;
}

/* CARD ------------------------------------------------ */

.card-group {
	display: flex;
	flex-flow: row wrap;
	background-color: #E5F2F9;
	border-color: #E5F2F9;
	column-rule: 50px double #E5F2F9;

}

.body {
	.
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: var(--bs-body-line-height);
	color: #FF9E7D;
	background-color: #E5F2F9;
	border-color: #E5F2F9;
	text-align: var(--bs-body-text-align);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

.card-body {
	padding: 1rem 1rem;
	background-color: #E5F2F9;
	border-color: #E5F2F9;
	color: #2D6067;;

}

.card-img,
.card-img-bottom,
.card-img-top {
	padding: 15%;
	background-color: #E5F2F9;
	border-color: #E5F2F9;
	max-width: 100%;

}

.botao{
	font-family: 'Poppins', sans-serif;
	background-color: #448F9A;
	color: #F0E7B7;
}

.cardTitulo{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 900;
}

.cardDescricao{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

/* PAGINA DE LOGIN E PAGINA DE CADASTRO ------------------------------------------------ */

optgroup,  textarea {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: inherit;
  padding: 12px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  background-color: #C4C4C4;
	width: 100%;
	align-content: left;
	display: flex ;

}

button { 
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: inherit;
  padding: 12px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  background-color: #5BBFCD;
  
	width: 50%;
}

.label {
	width: 100%;
	align-content: left;
	display: flex ;
}

.input {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: inherit;
  padding: 12px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  background-color: #C4C4C4;
	width: 30%;
	align-content: left;

} 

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: inherit;
	margin-bottom: 0.5rem;
	font-weight: 100%;
	line-height: 1.2;
	font-family: 'Poppins', sans-serif;
}

fieldset {
	display: flex;
	margin-inline-end: 2px;
	padding-block-start: 0.35em;
	padding-inline-start: 0.75em;
	padding-inline-end: 0.75em;
	padding-block-end: 0.625em;
	border-image: initial;
}

body {
	margin: 75px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font weight: 300px;
	text-align: center;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;

	/*Torna o elemento um flex container, 
	  transformando todos os seus elementos 
	  internos (filhos) em flex itens.*/

	/*Alinha os flex itens de acordo com o eixo 
	  do container. */
	align-items: center;

	/*Alinha os itens flex no container de 
	  acordo com a direção. */
	justify-content: center;

	/* Altura mínima do elemento. */
	/* Unidades de tamanho da tela vh e vw. */
	min-height: 100vh;


}

.formulario {
	text-align: left;
	width: 100%;
 	background-color: #ff9e7d !important;
 	opacity: 70%;
 	background-blend-mode: 20%;
 	padding: 15px;

}

.login {
	align-items: center;
	text-align: center;
	width: 100%;
 	background-color: #ff9e7d !important;
 	opacity: 70%;
 	background-blend-mode: 20%;
 	padding: 15px;

}

.select {

	text-align: left;
	width: 100%;
 	background-color: #5BBFCD !important;
 	background-blend-mode: 20%;
 	padding: 15px;

}



@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}